@tailwind base;
@tailwind components;
@tailwind utilities;


/* Infinite scrolling background images */
@keyframes scrollImages {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.infinite-scroll {
  display: flex;
  animation: scrollImages 30s linear infinite;
}

.infinite-scroll img {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}